[python: app.py]
encoding = utf-8

[python: components/**.py]
encoding = utf-8

[python: pages/**.py]
encoding = utf-8

[python: services/**.py]
encoding = utf-8

[python: utils/**.py]
encoding = utf-8
